@import '../_variables';

.title {
  &__title {
    color: $white;
    padding-left: 25px;
    font-size: 17px;
    font-family: $font-sharp-bold;
    line-height: 1.6;
  }
}

@media screen and (max-width: 720px) {
  .title {

    &__title {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 390px) {
  .title {

    &__title {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 320px) {
  .title {

      &__title {
        padding-left: 8px;
      }
  }
}